 * { margin:0;
    padding:0;
    box-sizing:border-box;}
  
  .container {
    width: 400px;
    height: 300px;
    background: #C74E4E;
    display:flex;
 justify-content: center;
 align-items: center;
    flex-direction:column;
    gap:5px;
  }
.row 

 .dxnner {
    display: flex;
    gap: 5px;
}
  .r1 {
    display: flex;
    gap:5px;
    border: 1px solid black;
    justify-content: end;
    justify-content: space-between;

    
  }

  .r2 {
    display:flex;
    flex-direction:column;
    gap:5px;
    border: 1px solid black;
    justify-content:
  }

  .r3 {
    display:flex;
    gap:5px;
    border: 1px solid black;
    justify-content: ;
  }

  .spitak {
    width:20px;
    aspect-ratio:1/1;
    background-color:white;
    border-radius:50%;
    align-self: flex-start;
    
  }

  .dexin {
    width:20px;
    aspect-ratio:1/1;
    background-color:#E0E246;
    border-radius:5px
  }
  
