* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#fff;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 5fr repeat(3, 2fr);
    grid-template-areas: 
    "header menu menu menu"
    "hero hero hero hero"
    "main main . image"
    "main main . extra"
    "banner banner banner banner"
    ;
}
div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    grid-area: header;
    background: #000000;
}
.menu {
    grid-area: menu;
    background: #ea3b3b;
}
.hero {
    grid-area: hero;
    background: #0253a4;
}
.main {
    grid-area: main;
    background: #001b66;
}
.image {
    grid-area: image;
    background: #64deff;
}
.extra {
    grid-area: extra;
    background: #02b28f;
}
.banner {
    grid-area: banner;
    background: #d4bb00;
}

@media (min-width: 567px) and (max-width: 920px) {
    body {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr 4fr 4fr 2fr 2fr;
        grid-template-areas: 
        "header header header"
        "hero hero hero"
        "menu main main"
        "menu banner banner"
        "menu extra image"
        ;
    }
}
@media (max-width: 567px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 3fr 3fr 2fr 2fr 2fr;
        grid-template-areas: 
        "header"
        "menu"
        "hero"
        "main"
        "banner"
        "extra"
        "image"
        ;
    }
}