* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container {
     width: 100vh;
    aspect-ratio: 2/1;
    background: rgb(80, 79, 79);
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr ;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
    grid-template-areas:

}

.r1 {
grid-column: span 2;
    background-color: #FD6057;
}

.r2 {
   
background-color: #FD815B;
}

.r3 {
 background-color: #FEA062;
}

.r4 {

background-color:#02A787
}

.r5 {
    
background-color:#1CC1A1
}

.r6 {
 
background-color:#35DABA
}
.r7 {

}

.r8 {
    background-color: #FEA062;
    grid-area: 3/1/5/3;
}
.r9 {
    background-color: #FD6057;
}
.r10 {
    grid-column: span 3;
    background-color:#35DABA
}