* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 600px;
    height: 300px;
    background: rgb(52, 51, 51);
    display: grid;


   
}

    
.row1 {
  width:85%;
    aspect-ratio: 2/1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    grid-column: .g1 .g1 ;
}
.g1 {
    background-color: purple

}
.g2 {background-color: orange;
}

